/*  Nextflow config file
* -------------------------------------------------
* Default config options for all environments.
*/


tower {
 accessToken = "eyJ0aWQiOiA1MDEyfS4yODk2Nzk4ZTEzOTU1YTIzMTA5YWU5OGY0OTZiYzFmYWVkMjRjNDk4"
// workspaceId = '<YOUR WORKSPACE ID>'
  enabled = true
}


// Global default params, used in configs
params {
    // Mandatory arguments
        input = null // No default input
             
    //Main options
        outdir = '/data/yabili/RNAseqFastq2Counts/dsl2'
        publish_dir_mode = 'copy'
        email = 'youssef.abili@ircc.it'
        email_on_fail = 'youssef.abili@ircc.it'
       
    //fixed data
        params.genome="/data/yabili/ref/rnaseq/GRCh38.primary_assembly.genome.fa"
        params.annotation="/data/yabili/ref/rnaseq/gencode.v39.primary_assembly.annotation.gtf"
        //ribo_bed="/data/yabili/ref/rnaseq/primary_assembly.annotation.rRNA.bed"
        ribo_bed="/data/bioinfotree/task/gencode/dataset/hsapiens/27/primary_assembly.annotation.rRNA_complete.bed"
        
        //RNA strandness
        //0 for unstranded reads, 
        //1 for stranded reads and 
        //2 for reversely stranded reads. 
        params.strandness_featurecounts= "2"         

        //strand-specific-forward
        //strand-specific-reverse
        //non-strand-specific
        params.standness_qualimap="strand-specific-reverse"

    //parameters
        params.fastq=""

        //3TC
        //params.annotation="/data/yabili/ref/rnaseq/gencode.v39.primary_assembly.annotation.gtf"
        //params.annotation="/data/yabili/ref/rnaseq/3tc/gencode.v39.primary_assembly_length_500nt.gtf"
        //params.annotation="/data/yabili/ref/rnaseq/3tc/gencode.v39.annotation_most_expressed_isoform_500nt.gtf"
        //outdir = '/data/yabili/RNAseqFastq2Counts/bcp'
        //outdir = '/data/yabili/RNAseqFastq2Counts/bcp/3tc/no_filter_isoform/500nt'
        //outdir = '/data/yabili/RNAseqFastq2Counts/bcp/3tc/filtered_isoform/500nt' 
}


// Profiles

profiles {
    standard {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
   }
     conda  {
        process.conda = '/home/yabili/miniconda3/envs/rnaseq_pipe_acc'
	    process.executor= 'local'
    }   
     ircc {
        //process.executor = 
        //process.queue = 
        //process.cpus = 
        //process.memory  = 
    }
     singularity {
        docker.enabled = false
        singularity.autoMounts = true
        singularity.enabled = true
    }
     docker  {
        docker.enabled = true
        singularity.autoMounts = true
        singularity.enabled = false
    }
}

// Executor

executor {
    name = 'local'
    cpus = 32
    memory = 64.GB
}

// Resources

process {
    withName: fastqc {
        cpus = 1
        memory = 4.GB
}
    withName: STAR_aligment  {
        cpus = 8
        memory = 12.GB
}
    withName: STAR_genome_index {
        cpus = 16
        memory = 24.GB
}
    withName: Qualimap {
        cpus = 1
        memory = 4.GB
}
    withName: FeautureCounts {
        cpus = 4
        memory = 4.GB
}
}
